<html>
  <head></head>
  <body>
    <div class="title">
       <h1>Showing Product</h1>
    </div>

    <table class="products_table">
    <thead>
      <tr>
        <th>Preview</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to (image_tag @product.image, :style => "height:100px"), @product %></td>
        <td><%= @product.name%></td>
        <td><%= @product.description %></td>
        <td><%= @product.price %></td>
        <td><%= @product.category %></td>
      </tr>
    </tbody>
   </table>
  </body>
  <div class="bottom-links">
  <% if current_user && current_user.admin?%>
     <%= link_to 'Edit', edit_product_path(@product) %> |
    <% else %>
    <%= link_to 'Back', products_path %> |
    <%= link_to 'Home', root_path %>
    <% end %>
  </div>
</html>
