<!DOCTYPE html>
<html lang="en">

<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => "true" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => "true" %>
      <%= csrf_meta_tags %>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Bikes for you is a premium store for purchasing bikes and bike related accessories">

        <link rel="stylesheet" type="text/css" href="/assets/normalize.css">
        <link rel="stylesheet" type="text/css" href="/assets/grid.css">
        <!--link rel="stylesheet" type="text/css" href="/assets/ionicons.min.css"-->
        <link rel="stylesheet" type="text/css" href="/assets/animate.css">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <link rel="stylesheet" type="text/css" href="/assets/queries.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>B4U</title>
        <style>
          @import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
</head>

<body>
  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>
  <%= yield %>

</body>

</html>